[Unit]
Description={{ app_name }} application
After=network-online.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_home }}
ExecStart={{ app_home }}/{{ item.name }}
SuccessExitStatus=143
Restart=always
RestartSec=10

{{ app_service_envs|indent(0, False) }}

[Install]
WantedBy=multi-user.target
