COMMON_JAVA_OPTS={{ app_min_ram }} {{ app_max_ram }} -Dlogging.file.name={{ app_home }}/logs/{{ app_name }}.log -Dspring.profiles.active={{ app_active_profiles }}
{{ app_common_env|indent(0, False) }}
