[Unit]
Description={{ app_name }} application
After=network-online.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_home }}
EnvironmentFile={{ app_home }}/{{ app_name }}.env
EnvironmentFile={{ app_home }}/{{ item.name }}.env
ExecStart=java $COMMON_JAVA_OPTS $INSTANCE_JAVA_OPTS -jar {{ app_home }}/{{ item.name }}
SuccessExitStatus=143
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
