[Unit]
Description={{ app_name }} application
After=network-online.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_home }}
Environment=JAVA_OPTS='{{ app_min_ram }} {{ app_max_ram }} --logging.file.name={{ app_home }}/logs/{{ app_name }}.log --server.port={{ item.api_port }}
EnvironmentFile={{ app_home }}/{{ item.name }}.env
EnvironmentFile={{ app_home }}/{{ app_name }}.env
ExecStart=java $COMMON_JAVA_OPTS $INSTANCE_JAVA_OPTS -jar {{ app_home }}/{{ item.name }}
SuccessExitStatus=143
Restart=always
RestartSec=10

{{ app_service_envs|indent(0, False) }}

[Install]
WantedBy=multi-user.target
