{% for vhost in nginx_internal_vhosts %}
server {
    listen {{ vhost.port }};
{% for location in vhost.locations %}

    location {{ location.path }} {
        proxy_pass {{ location.proxy_pass }};
{% if location.handle_cors is defined and location.handle_cors | bool %}

        if ($request_method ~* "(GET|POST|PUT|DELETE)") {
            add_header 'Access-Control-Allow-Origin' '*' always;
        }

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
            add_header 'Access-Control-Allow-Headers' '*' always;
            return 204;
        }
{% endif %}
    }

{% endfor %}
    access_log /var/log/nginx/{{ nginx_app_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_app_name }}_error.log;
}

{% endfor %}
server {
{% if nginx_ssl_mode == 'certbot' %}
    listen       80;
    listen       [::]:80;
{% else %}
    listen       443 ssl;
    listen       [::]:443 ssl ipv6only=on;

    ssl_certificate {{ nginx_vhost_ssl_cert_path }};
    ssl_certificate_key {{ nginx_vhost_ssl_privkey_path }};
    ssl_dhparam {{ nginx_vhost_ssl_dhparam_path }};
{% endif %}
{% if nginx_server_name is defined %}
    server_name {{ nginx_server_name }};
{% endif %}

{% for location in (nginx_vhost_locations + nginx_vhost_extra_locations) %}
    location {{ location.path }} {
        proxy_pass {{ location.proxy_pass }};
{% if location.handle_cors is defined and location.handle_cors | bool %}

        if ($request_method ~* "(GET|POST|PUT|DELETE)") {
            add_header 'Access-Control-Allow-Origin' '*' always;
        }

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*' always;
            add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
            add_header 'Access-Control-Allow-Headers' '*' always;
            return 204;
        }
{% endif %}
    }

{% endfor %}

    location / {
        root {{ nginx_user_dir }}/{{ nginx_site_dir }};
        index index.html;
        try_files $uri $uri/ =404;
    }

    access_log /var/log/nginx/{{ nginx_app_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_app_name }}_error.log;
}
